.bureau-page {
  height: 100%;
  width: 100%;

  &__back1,
  &__back2,
  &__back3 {
    position: absolute;
    mix-blend-mode: screen;
    width: 100%;
    /* height: 100vh; */
    &.dark {
      opacity: 25%;
    }
  }

  &__back1 {
    left: 40%;
    top: 0;
  }

  &__back2 {
    right: 45%;
    top: 30%;
  }

  &__back3 {
    left: 45%;
    bottom: 0;
  }
}

.bureau {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem 5rem;

  &__line2,
  &__line3 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
  }

  &__line3 {
    width: 100%;
  }

  &__card {
    z-index: 3;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 13rem;
      width: 13rem;
      border-radius: 50%;
      border: 5px solid var(--secondary-color);
      text-align: center;
      overflow: hidden;

      &.dark {
        border: 3px solid var(--primary-color);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-name {
      font-size: 2.25rem;
      color: var(--secondary-color);
      text-align: center;

      &.dark {
        color: var(--primary-color);
      }
    }

    &-post {
      text-align: center;
      font-size: 1.25rem;
      margin-top: -1rem;
    }
  }
}

.hr {
  background-color: var(--secondary-color);
  transform: rotate(90deg);
  margin: 0;
  padding: 0;
  width: 150px;

  &.dark {
    background-color: var(--primary-color);
  }
}

@media (max-width: 994px) {
  .bureau {
    padding: 8rem 2rem;

    &__line2,
    &__line3 {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      gap: 2.5rem;
    }

    &__card {
      &-img {
        height: 10rem;
        width: 10rem;
      }

      &-name {
        font-size: 1.75rem;
      }
    }
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10px;
  transform-origin: 0%;
  z-index: 7;
  background-color: var(--secondary-color);

  &.dark {
    background-color: var(--primary-color);
  }
}
