.cards {
  padding: 6rem 0;
  position: relative;

  &__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .content {
      color: var(--secondary-color);
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 4rem;

      padding-bottom: 10px;

      @media screen and (max-width: 950px) {
        flex-direction: column;
      }

      .card {
        width: 35%;
        border-radius: 20px;
        background: linear-gradient(to top, white 70%, transparent 0);
        border: none;
        @media screen and (max-width: 950px) {
          width: 90%;
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
      }

      .card-text {
        text-align: center;
      }
    }
  }
}
