.App {
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  position: relative;
  color: white;

  .orange__blob,
  .blue__blob,
  .white__blob {
    position: fixed;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    opacity: 50%;
    filter: blur(175px);
  }

  .orange__blob {
    background-color: var(--primary-color);
    top: 200px;
    left: -275px;
  }

  .blue__blob {
    background-color: #2f49ff;
    top: 200px;
    right: -275px;
  }

  .white__blob {
    background-color: white;
    width: 1000px;
    height: 1000px;
    right: 500px;
    bottom: -700px;
    opacity: 20%;
  }

  .pattern {
    position: fixed;
    width: 100vw;
    opacity: 7.5%;
  }
}
