@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --bg-color: #000018;

  --primary-color: rgb(255, 178, 63);

  --secondary-color: #1f2656;

  --dark-color: #002240;

  --light-color: #f4f4f4;

  --success-color: #5cb85c;

  --error-color: #d9534f;
}

.button {
  &-main {
    padding: 0.65rem 6rem;
    border-radius: 0.65rem;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    color: #422800;
    background: var(--primary-color);
    border: 0;

    &:hover {
      background-color: #ff9901;
    }

    @media only screen and (max-width: 1000px) {
      font-size: medium;
      height: 7vh;
      // width: 20vw;
    }

    @media only screen and (max-width: 900px) {
      height: 2.5rem;
      // width: 100%;
    }
  }

  &-stroke {
    background: transparent;
    padding: 0.5rem 3rem;
    border-radius: 0.65rem;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    color: #ff9901;
    border: 2px solid var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: #422800;
      border: none;
    }

    @media only screen and (max-width: 1000px) {
      font-size: medium;
      height: 7vh;
      width: 20vw;
    }

    @media only screen and (max-width: 900px) {
      height: 2.5rem;
      width: 100%;
    }
  }
}
