@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  font-family: "Outfit", sans-serif;
}

:root {
  --primary-color: #ffa329;

  --secondary-color: #1f2656;

  --dark-color: #002240;

  --light-color: #f4f4f4;

  --success-color: #5cb85c;

  --error-color: #d9534f;
}

.button {
  &-main {
    font-size: 1rem;
    font-weight: 600;
    height: 2.75rem;
    width: 15rem;
    border-radius: 1rem;
    border: 0;
    transition: all 0.5s;
    cursor: pointer;

    //colors
    color: white;

    background: linear-gradient(180deg, #1614d1 0%, #1f2656 35.94%);

    &:hover {
      background-color: #021f38;
    }

    @media only screen and (max-width: 1000px) {
      font-size: medium;
      height: 7vh;
      // width: 20vw;
    }

    @media only screen and (max-width: 900px) {
      height: 2.5rem;
      // width: 100%;
    }

    &.dark {
      background: linear-gradient(180deg, #ffe4bb 0%, #ffab2e 30%);
      color: var(--dark-color);
    }
  }

  &-stroke {
    font-size: 1rem;
    font-weight: 500;
    height: 2.75rem;
    width: 15rem;
    border-radius: 1rem;
    transition: all 0.5s;

    //colors
    background: transparent;
    border-color: var(--dark-color);
    color: var(--dark-color);

    &:hover {
      background: linear-gradient(180deg, #1614d1 0%, #1f2656 35.94%);
      color: white;
      border: none;
    }

    @media only screen and (max-width: 1000px) {
      font-size: medium;
      height: 7vh;
      width: 20vw;
    }

    @media only screen and (max-width: 900px) {
      height: 2.5rem;
      width: 100%;
    }

    &.dark {
      border-color: var(--primary-color);
      color: white;
      transition: all 0.5s;
      background-color: transparent;
      &:hover {
        background: linear-gradient(180deg, #ffe4bb 0%, #ffab2e 30%);
        color: var(--dark-color);
        border: none;
      }
    }
  }
}
