.cards.light {
  background: linear-gradient(
    235deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 169, 41) 34%
  );
}
.cards.dark {
  background: linear-gradient(
    315deg,
    #010060 0%,
    #C4CDFF 99.43%
  );
}

.cards {
  padding: 5rem 0;

  &__container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .title__container {
      position: relative;

      .title {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(24px);
        border-radius: 20px;
        padding: 10px 16px;
        width: fit-content;
        text-align: center;
        border: 1px solid white;
        background: radial-gradient(
          51.72% 61.73% at 50% 50%,
          #4358ff 0%,
          #1f2656 63.85%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .starImg {
        position: absolute;
        bottom: -13px;
        left: -31px;
        width: 63.85px;
        height: 56.42px;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 4rem;
      flex-wrap: wrap;
      padding-bottom: 10px;

      .card {
        width: 35%;
        border-radius: 20px;
        background: linear-gradient(to top, white 70%, transparent 0);
        border: none;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;

        .button-main {
          padding: 0.5rem 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
