.cards {
  padding: 6rem 0;
  position: relative;

  &__back1 {
    position: absolute;
    mix-blend-mode: screen;
    width: 100%;
    // height: 100vh;
    right: 50%;
    top: 0;
    &.dark {
      opacity: 25%;
    }
  }

  &__back2 {
    position: absolute;
    mix-blend-mode: screen;
    width: 100%;
    // height: 100vh;
    left: 45%;
    bottom: 0;
    &.dark {
      opacity: 25%;
    }
  }

  &__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .title__container {
      position: relative;

      .title {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(24px);
        border-radius: 20px;
        padding: 10px 16px;
        width: fit-content;
        text-align: center;
        border: 1px solid white;
        background: radial-gradient(
          51.72% 61.73% at 50% 50%,
          #4358ff 0%,
          #1f2656 63.85%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        mix-blend-mode: normal;

        &.dark {
          background: radial-gradient(
            50% 50% at 50% 50%,
            #ffffff 0%,
            #ffb13e 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;

          mix-blend-mode: normal;
        }
      }

      .starImg {
        position: absolute;
        bottom: -13px;
        left: -31px;
        width: 63.85px;
        height: 56.42px;
      }
    }

    .content {
      color: var(--secondary-color);
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 4rem;

      padding-bottom: 10px;

      @media screen and (max-width: 950px) {
        flex-direction: column;
      }

      .card {
        width: 35%;
        border-radius: 20px;
        background: linear-gradient(to top, white 70%, transparent 0);
        border: none;
        @media screen and (max-width: 950px) {
          width: 90%;
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
      }

      .card-text {
        text-align: center;
      }
    }
  }
}
