.jeea {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    height: 100vh;
  }

  &__back {
    position: absolute;
    width: 100%;
    // height: 100vh;
    left: 40%;
    mix-blend-mode: screen;
    &.dark {
      opacity: 25%;
    }
  }

  &__container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 3;
    flex-wrap: wrap;

    .title__container {
      position: relative;

      .title {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(24px);
        font-size: 2.5rem;
        border-radius: 20px;
        padding: 0.75rem 1.5rem;
        width: fit-content;
        text-align: center;
        border: 1px solid white;
        background: radial-gradient(
          51.72% 61.73% at 50% 50%,
          #4358ff 0%,
          #1f2656 63.85%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        mix-blend-mode: normal;

        &.dark {
          background: radial-gradient(
            50% 50% at 50% 50%,
            #ffffff 0%,
            #ffb13e 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;

          mix-blend-mode: normal;
        }
      }

      .starImg {
        position: absolute;
        bottom: -10px;
        left: -20px;
        width: 3rem;
        height: 3rem;
      }
    }

    .content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      gap: 5rem;
      width: 100%;
      @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
      }
      .paragraph {
        font-weight: 400;
        font-size: 1.3rem;
        z-index: 5;
      }
    }
  }

  .jeeaImg {
    width: 20rem;
    @media screen and (max-width: 1200px) {
      width: 20rem;
    }
  }
}
