.navbar {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  a {
    text-decoration: none;
    color: white;
  }
  &__element {
    display: flex;
    align-items: center;
    gap: 18%;
    flex: 1;
    justify-content: flex-end;
    position: relative;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0.8rem 1.5rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.418) 50%,
      rgba(255, 255, 255, 0.075) 100%
    );
    backdrop-filter: blur(8px);
    border-radius: 1.1rem;
  }

  &__img {
    height: 100%;
    width: 80px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3em;

    li,
    a {
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none !important;
      color: var(--dark-color);
      transition: all 0.3s;
    }

    li,
    a:hover {
      color: var(--secondary-color);
      text-decoration: none;
    }
  }

  &__features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.4em;

    li {
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;
      color: black;
    }
  }

  &__button {
    background: linear-gradient(180deg, #1614d1 0%, #1f2656 35.94%);
    color: white;
    border: 0;
    border-radius: 0.7rem;
    padding: 0.3em 0.8em;
    cursor: pointer;

    .icon__mode {
      width: 1.2rem;
    }
  }
}

.logo_toggle {
  cursor: pointer;
  display: none;
  background: transparent;
}

.logo_toggle i {
  font-size: 21px;
  border-radius: 5px;
  padding: 0.2rem;
  background: linear-gradient(180deg, #ffe4bb 0%, #ffab2e 30%);
  font-size: 28px;
}

.close_btn {
  position: absolute;
  top: 5%;
  right: 3%;
  color: rgb(255 216 158);
}

.logo_toggle {
  cursor: pointer;
  display: none;
}

.logo_toggle i {
  font-size: 21px;
  border-radius: 5px;
  padding: 0.2rem;
  background: linear-gradient(180deg, #ffe4bb 0%, #ffab2e 30%);
}

.close_btn {
  position: absolute;
  top: 5%;
  right: 3%;
}

/* medium screen */
@media (max-width: 1024px) {
  .navbar__container {
    width: 100%;
  }
  .navbar__element {
    gap: 20px;
    justify-content: space-evenly;
    display: flex;
    .navbar__links {
      gap: 18px;
    }
  }
}

/* mobile screen */
@media (max-width: 700px) {
  .logo_toggle {
    display: block;
  }
  .navbar__element {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    right: 0;
    width: 100%;
    font-size: 12px;
    background: linear-gradient(180deg, #1614d1 0%, #1f2656 35.94%);
    transition: 1s;
    border-radius: 12px;
    padding: 20px;
    z-index: 1;
    transform: translateY(-100vh);
  }
  button.navbar__button.light_dark_icon {
    position: absolute;
    top: 6%;
    left: 5%;
    background: linear-gradient(180deg, #ffe4bb 0%, #ffab2e 30%);
    color: white;
    width: 4rem;
    height: 2rem;
    border-radius: 11px;
  }
  button.navbar__button.fr_eng_icon {
    position: absolute;
    bottom: 7%;
    background: linear-gradient(180deg, #ffe4bb 0%, #ffab2e 30%);
    color: white;
    width: 4rem;
    height: 2rem;
    border-radius: 11px;
    right: 3%;
    font-size: 14px;
  }
  .navbar__links {
    flex-direction: column;
    a {
      color: rgba(255, 211, 147, 1);
    }
  }
  .contact_us_button {
    display: none;
  }
}

.Responsive_nav {
  transform: none;
}
