$color_1: #3e2093;
$color_2: #afafb6;
$color_3: #fff;
$font-family_1: "Poppins" , sans-serif;

/* Google Font CDN Link */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
:root {
	--primary-color: #e79a26;
	--secondary-color: #1c3fa8;
	--dark-color: #002240;
	--light-color: #f4f4f4;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}
* {
	font-family: $font-family_1;
}
.container {
	width: 100%;
	background: #fff;
	border-radius: 6px;
	padding: 20px 60px 30px 40px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left-side {
			width: 25%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 15px;
			position: relative;
		}
		.right-side {
			width: 75%;
			margin-left: 75px;
		}
	}
}
.content {
	.left-side {
		&::before {
			content: '';
			position: absolute;
			height: 70%;
			width: 2px;
			right: -15px;
			top: 50%;
			transform: translateY(-50%);
			background: #afafb6;
		}
		.details {
			margin: 14px;
			text-align: center;
			i {
				font-size: 30px;
				color: $color_1;
				margin-bottom: 10px;
			}
			.topic {
				font-size: 18px;
				font-weight: 500;
			}
			.text-one {
				font-size: 14px;
				color: $color_2;
			}
			.text-two {
				font-size: 14px;
				color: $color_2;
			}
		}
	}
	.right-side {
		.topic-text {
			font-size: 23px;
			font-weight: 600;
			color: $color_1;
		}
	}
}
.right-side {
	.input-box {
		height: 50px;
		width: 100%;
		margin: 12px 0;
		input {
			height: 100%;
			width: 100%;
			border: none;
			outline: none;
			font-size: 16px;
			background: #F0F1F8;
			border-radius: 6px;
			padding: 0 15px;
			resize: none;
		}
		textarea {
			height: 100%;
			width: 100%;
			border: none;
			outline: none;
			font-size: 16px;
			background: #F0F1F8;
			border-radius: 6px;
			padding: 0 15px;
			resize: none;
			padding-top: 6px;
		}
	}
	.message-box {
		min-height: 110px;
	}
	.button {
		display: inline-block;
		margin-top: 12px;
		input[type="button"] {
			color: $color_3;
			font-size: 18px;
			outline: none;
			border: none;
			padding: 8px 16px;
			border-radius: 6px;
			background: #3e2093;
			cursor: pointer;
			transition: all 0.3s ease;
		}
	}
}
.button {
	input[type="button"] {
		&:hover {
			background: #5029bc;
		}
	}
}
@media (max-width: 950px) {
	.container {
		width: 90%;
		padding: 30px 40px 40px 35px;
		.content {
			.right-side {
				width: 75%;
				margin-left: 55px;
			}
		}
	}
}
@media (max-width: 820px) {
	.container {
		margin: 40px 0;
		height: 100%;
		.content {
			flex-direction: column-reverse;
			.left-side {
				width: 100%;
				flex-direction: row;
				margin-top: 40px;
				justify-content: center;
				flex-wrap: wrap;
				&::before {
					display: none;
				}
			}
			.right-side {
				width: 100%;
				margin-left: 0;
			}
		}
	}
}