.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  width: 100%;
  align-items: center;
  padding: 80px;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  height: 100vh;
  .content {
    width: 90%;
    height: 100%;
  }


.contact-text {
  text-align: center;
  margin: 15px;
  .Contact_us {
    background: linear-gradient(
      to right,
      rgba(67, 88, 255, 1) 0%,
      rgba(31, 38, 86, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  p {
    color: rgba(17, 22, 92, 1);
  }
}

.contactForm {
  .Name_Area {
    display: flex;
    justify-content: center;
    gap: 10px;
    .name_input {
      width: 50%;
    }
  }
  .input {
    margin: 8px;
    input {
      height: 3rem;
      border-radius: 10px;
    }
    textarea {
      max-height: 13rem;
      min-height: 13rem;
      border-radius: 10px;
      white-space: pre;
    }
  }
  .submit_btn {
    margin: 15px auto;
    width: 13rem;
    height: 3rem;
    background: linear-gradient(180deg, #1614d1 0%, #1f2656 35.94%);
    border-radius: 10px;
    text-align: center;
    line-height: 3.5rem;
    cursor: pointer;
    input {
      border: none;
      background: transparent;
      color: rgba(255, 255, 255, 1);
      font-weight: 700px;
      line-height: 24px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
}