.cjem.light {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 169, 41) 34%
  );
}
.cjem.dark {
  background: linear-gradient(315deg, #010060 0%, #c4cdff 99.43%);
}
.cjem {
  padding: 10px;
  @media screen and (min-width:1200px) {
    height: 100vh;  
}
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

    .title__container {
      position: relative;
      .title {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(24px);
        font-size: 3rem;
        border-radius: 20px;
        padding: 0.75rem 1.5rem;
        width: fit-content;
        text-align: center;
        border: 1px solid white;
        background: radial-gradient(
          51.72% 61.73% at 50% 50%,
          #4358ff 0%,
          #1f2656 63.85%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .starImg {
        position: absolute;
        bottom: -10px;
        left: -20px;
        width: 3rem;
        height: 3rem;
      }
    }

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5rem;
      
      @media screen and (max-width:1200px) {
                 flex-wrap: wrap;    
      }

      .paragraph {
        font-weight: 400;
        font-size: 1.3rem;
        background: radial-gradient(
          38.44% 68.39% at 50% 50%,
          #0621fe 0%,
          #1f2656 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  .cjemImg {
    width: 25rem;
  }
}

