$color_1: var(--light-color);
$color_2: inherit;
$color_3: white;
$color_4: var(--primary-color);
$background-color_1: var(--dark-color);

.footer-clean.light {
  background: linear-gradient(
    0deg,
    rgba(31, 38, 86, 1) 25%,
    rgba(255, 169, 41, 1) 100%
  );
}
.footer-clean.dark {
  background: linear-gradient(
    0deg,
    rgba(255, 169, 41, 1) 25%,
    var(--secondary-color) 90%
  );
}

.footer-clean {
  margin-top: 80px;
  padding: 10px 0;
  color: $color_1;
  .content {
    width: 100%;
    height: auto;
    padding: 2rem;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 2rem;
  }
  ul {
    list-style: none;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 0;
    a {
      padding: 12px;
      color: $color_2;
      text-decoration: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
        color: $color_4;
      }
    }
    a.active {
      color: $color_4;
    }
  }
  .item_social {
    width: auto;
    text-align: center;
    i {
      font-size: 1.6rem;
      color: $color_3;
      &:hover {
        color: $color_4;
      }
    }
  }
}

.content_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  // LEFT SIDE STYLE :

  .left_side {
    .footer_nav {
      &.top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
      }

      &.middle {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 20px 0;

        .logo {
          margin-left: 11px;
        }
        .item_social {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 50%;
          margin-right: 17px;
        }
      }

      &.bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
      }
    }
  }

  // RIGHT SIDE STYLE :
  .right_side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1rem;
      margin: 0;
    }
    span {
      font-size: 1rem;
    }
  }
}

.copyright {
  padding: 18px 0px 1px 0px;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #dbdcdc;
  border-top: 1px $color_3 solid;
  p {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .footer-clean .content {
    padding: 1rem;
  }
  .content_flex {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    .left_side {
      .footer_nav.top,
      .footer_nav.bottom {
        justify-content: center;
        padding: 0;
      }
    }
    .right_side {
      p {
        text-align: center;
      }
    }
  }
}
