.recrute-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7rem 4rem;
  width: 100%;

  .recrutement {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 700px) {
    padding: 7rem 1rem;

    .form-container {
      width: 100%;
    }

    .button-main {
      width: 90%;
    }
  }
}

.counter {
  padding: 2rem 0;
}
.link {
  padding: 0 0 2rem 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 1px 7px 4px rgb(0 0 0 / 15%);
  justify-content: center;
  margin-top: 4rem;
  padding: 2rem;
  margin: auto;
  border-radius: 10px;
  width: 70%;

  .content {
    width: 100%;
  }

  .contact-text {
    text-align: center;
    margin: 15px;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Name_Area {
      display: flex;
      justify-content: center;
      gap: 10px;

      .name_input {
        width: 100%;
      }
    }

    .input {
      width: 90%;
      margin: 8px;

      input {
        height: 3rem;
        border-radius: 10px;
      }

      textarea {
        max-height: 10rem;
        min-height: 10rem;
        border-radius: 10px;
        white-space: pre;
        resize: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
