.progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10px;
  transform-origin: 0%;
  z-index: 7;
  background-color: var(--secondary-color);

  &.dark {
    background-color: var(--primary-color);
  }
}

.homepage {
  position: relative;
  // padding-top: 2rem;
  overflow: hidden;

  .ellipse {
    position: absolute;
    width: 800px;
    height: 800px;
    left: -200px;
    top: 1000px;

    background: rgba(255, 255, 255, 0.5);
    filter: blur(150px);
  }

  .ellipse2 {
    position: absolute;
    width: 800px;
    height: 800px;
    right: -200px;
    bottom: 1000px;

    background: rgba(255, 255, 255, 0.5);
    filter: blur(150px);
  }
}
