.hero {
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 169, 41) 34%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__line {
    position: absolute;
    right: 15rem;
  }

  &__decoration {
    position: absolute;
    width: 100px;
    left: 20rem;
    top: 8rem;
  }

  &__content {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    &-text {
      color: var(--dark-color);
      line-height: 4rem;
      font-size: 3rem;
      font-weight: 1000;
      margin-bottom: 2rem;
    }

    &-buttons {
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
    }
  }
}
