.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__line {
    position: absolute;
    right: 21%;
    height: 20rem;

    @media only screen and (max-width: 900px) {
      right: 10%;
      height: 15rem;
    }
  }

  &__decoration {
    position: absolute;
    width: 100px;
    left: 20rem;
    top: 8rem;
  }

  &__content {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;

    &-jeea {
      font-size: 10vw;
    }

    &-slogan {
      line-height: 8vh;
      font-size: 3vw;
      font-weight: 1000;
      max-width: 70%;

      @media only screen and (max-width: 1000px) {
        line-height: 8vh;
      }

      &.dark {
        color: var(--primary-color);
      }
    }

    &-text {
      max-width: 70%;
      font-size: 1.3vw;
    }

    &-buttons {
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
    }

    @media only screen and (max-width: 900px) {
      width: 80%;

      &-jeea {
        font-size: 5.5rem;
      }

      &-slogan {
        width: 100%;
        font-size: 1.8rem;
        line-height: 2rem;
      }

      &-text {
        font-size: 0.9rem;
      }
    }

    @media only screen and (max-width: 900px) {
      width: 90%;

      &-jeea {
        font-size: 5.5rem;
      }

      &-buttons {
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: auto;
      }

      &-slogan {
        width: 100%;
        font-size: 1.8rem;
        line-height: 2rem;
      }

      &-text {
        font-size: 0.9rem;
      }
    }

    @media only screen and (max-width: 450px) {
      width: 95%;

      &-jeea {
        font-size: 5rem;
      }

      &-buttons {
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: auto;
      }

      &-slogan {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.85rem;
      }

      &-text {
        max-width: 75%;
        font-size: 0.9rem;
      }
    }
  }
}
