.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1vw;
    width: 100%;
    z-index: 1;

    

    &__Img{
        height: 100%;
        width: 120px;
    }

    &__Links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 2vw;
        li, a{
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none;
            color: var(--dark-color);
            transition: all 0.3s;
        }
        li, a:hover{
            color: var(--secondary-color);
        }
    }
}