@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

:root {
  --primary-color: #ffa929;

  --secondary-color: #1f2656;

  --dark-color: #002240;

  --light-color: #f4f4f4;

  --success-color: #5cb85c;

  --error-color: #d9534f;
}

.button {
  &-main {
    font-size: 1rem;
    font-weight: 600;
    height: 2.75rem;
    width: 15rem;
    border-radius: 1rem;
    border: 0;
    transition: all 0.5s;

    //colors
    background-color: var(--dark-color);
    color: white;

    &:hover {
      background-color: #022a4d;
    }

    @media only screen and (max-width: 1000px) {
      font-size: medium;
      height: 7vh;
      width: 20vw;
    }

    @media only screen and (max-width: 900px) {
      height: 2.5rem;
      width: 100%;
    }

    &.dark {
      background-color: var(--primary-color);
      color: var(--dark-color);

      &:hover {
        background-color: #ff7802;
      }
    }
  }

  &-stroke {
    font-size: 1rem;
    font-weight: 500;
    height: 2.75rem;
    width: 15rem;
    border-radius: 1rem;
    transition: all 0.5s;

    //colors
    background: transparent;
    border-color: var(--dark-color);
    color: var(--dark-color);

    &:hover {
      background-color: var(--dark-color);
      color: white;
      border: none;
    }

    @media only screen and (max-width: 1000px) {
      font-size: medium;
      height: 7vh;
      width: 20vw;
    }

    @media only screen and (max-width: 900px) {
      height: 2.5rem;
      width: 100%;
    }

    &.dark {
      border-color: var(--primary-color);
      color: white;
      transition: all 0.5s;
      &:hover {
        background-color: var(--primary-color);
        border: none;
      }
    }
  }
}
