.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-info {
      padding: 3rem 4.5rem;
      width: 50%;
      fill: rgba(5, 4, 26, 0.1);
      backdrop-filter: blur(80px);

      &-list {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
          width: 2.5rem;
          height: 100%;
        }
      }
    }

    &-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 4.5rem;
      width: 50%;
      height: 100%;
      gap: 1rem;
      background: rgba(255, 255, 255, 0.06);
      backdrop-filter: blur(56px);

      &-names {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// CONTACT FORM STYLE
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 45%;

  &-email,
  &-text {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__text {
  margin-top: 1rem;
  font-family: inherit;
  width: 100%;
  border: 2px solid gray;
  outline: 0;
  font-size: 1.2rem;
  color: white;
  padding: 1rem;
  background: transparent;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, gray, var(--primary-color));
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
