.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 5rem;

  &__container {
    display: flex;
    gap: 3.75rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;
    z-index: 5;
  }
}

.jeeaImg {
  margin: 2.1rem;
}

.cjemImg,
.jeeaImg {
  width: 22.5rem;
  padding-bottom: 4rem;
  filter: brightness(0) saturate(100%) invert(17%) sepia(9%) saturate(4079%)
    hue-rotate(195deg) brightness(95%) contrast(100%);

  @media screen and (max-width: 800px) {
    width: 100%;
    margin: 0.5rem 0;
    padding-bottom: 2rem;
  }
}
