.projects-page {
  position: relative;
  height: 100vh;

  &__back1 {
    position: absolute;
    mix-blend-mode: screen;
    width: 100%;
    // height: 100vh;
    left: 40%;
    top: 0;
    &.dark {
      opacity: 25%;
    }
  }

  &__back2 {
    position: absolute;
    mix-blend-mode: screen;
    width: 100%;
    // height: 100vh;
    right: 45%;
    top: 30%;
    &.dark {
      opacity: 25%;
    }
  }

  &__back3 {
    position: absolute;
    mix-blend-mode: screen;
    width: 100%;
    // height: 100vh;
    left: 45%;
    bottom: 0;
    &.dark {
      opacity: 25%;
    }
  }
}

// Cards Container
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7rem 5rem;

  @media screen and (max-width: 1200px) {
    padding: 7rem 1rem;
  }

  .Title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .title__container {
    position: relative;
    margin: 1rem 2rem;
    .title {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.12);
      backdrop-filter: blur(24px);
      border-radius: 20px;
      padding: 10px 16px;
      width: fit-content;
      text-align: center;
      border: 1px solid white;
      background-clip: text;
      -webkit-background-clip: text;
      &.dark {
        background: radial-gradient(
          50% 50% at 50% 50%,
          #ffffff 0%,
          #ffb13e 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        mix-blend-mode: normal;
      }
    }
    .starImg {
      position: absolute;
      bottom: -13px;
      left: -31px;
      width: 63.85px;
      height: 56.42px;
    }
  }

  &__cards-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }

  &__card {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 3.2rem 3rem;
    width: 80%;
    background-color: rgb(255, 248, 248);
    border-radius: 25px;
    color: var(--secondary-color);
    z-index: 3;

    @media screen and (max-width: 1200px) {
      width: 50%;
      align-items: center;
      flex-direction: column-reverse;
      &-right {
        align-items: flex-start;
        width: 100%;
      }
      &-left {
        width: 100%;
        &-img {
          width: 100%;
        }
      }
    }

    &-right {
      // width: 70%;

      &-title {
        font-weight: 600;
        margin-bottom: -0.5px;
      }

      &-info {
        color: gray;
        font-size: 0.9rem;
      }

      &-desc {
        color: black;
        margin: 2rem 0;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
}
