.projects-page {
  position: relative;
  height: 100vh;
}

// Cards Container
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7rem 5rem;

  @media screen and (max-width: 1200px) {
    padding: 7rem 1rem;
  }

  &__cards-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }

  &__card {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 3.2rem 3rem;
    width: 80%;
    background-color: rgb(255, 248, 248);
    border-radius: 25px;
    color: var(--secondary-color);
    z-index: 3;

    @media screen and (max-width: 1200px) {
      width: 50%;
      align-items: center;
      flex-direction: column-reverse;
      &-right {
        align-items: flex-start;
        width: 100%;
      }
      &-left {
        width: 100%;
        &-img {
          width: 100%;
        }
      }
    }

    &-right {
      // width: 70%;

      &-title {
        font-weight: 600;
        margin-bottom: -0.5px;
      }

      &-info {
        color: gray;
        font-size: 0.9rem;
      }

      &-desc {
        color: black;
        margin: 2rem 0;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
}
