.activities-page {
  position: relative;
}

// Cards Container
.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7rem 5rem;

  &__cards-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    @media screen and (max-width: 740px) {
      width: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 3.2rem 3rem;
    width: 80%;
    background-color: rgb(255, 248, 248);
    border-radius: 25px;
    color: var(--secondary-color);
    z-index: 3;

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 70%;

      &-title {
        font-weight: 600;
      }

      &-info {
        color: gray;
        font-size: 1rem;
      }

      &-desc {
        color: black;
        font-size: 1.25rem;
      }

      .button-main {
        margin: 0 !important;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      &-img {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 70%;
      align-items: center;
      flex-direction: column-reverse;
      &-right {
        align-items: flex-start;
        width: 100%;
      }
      &-left {
        flex: 1.5;
        width: 100%;
        &-img {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 740px) {
      padding: 2rem;
      width: 90%;
      &-right {
        button {
          width: 100%;
        }
      }
    }
  }
}
